body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;
    line-height: 2em;
    text-decoration: underline;
}

ul {
    background-color: aqua;
}

.BGCOL {
    background-color: aquamarine;
}

#amar {
    color: yellow;
}

#ver {
    color: red;
}

#mar {
    color: brown;
}