* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  background-color: whitesmoke;
}

header {
  position: fixed;
  height: 90px;
  width: 100%;
  z-index: 1;
  background-color: orchid;
  border-bottom: 2px solid lightseagreen;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

header .inline-block {
  margin: 0 10px;
}

.colorful-background {
  background-color: whitesmoke;
  padding: 0.5em 1em;
  border-radius: 30px;
  color: orchid;
  border: 1px solid lightseagreen;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 15px;
  font-weight: 550;
}

h1 {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
  list-style: none;
}

main {
  position: relative;
  top: 90px;
  margin-bottom: 80px;
  padding: 20px 10px;
}

#main-title {
  color:  orchid;
  margin: 20px;
  background-color: lightseagreen;
  margin-bottom: 40px;
}

#main-title h2 {
  font-family: 'Lobster';
  font-size: 80px;
  letter-spacing: 1px;
}

.margin-padding {
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}

#table-container {
  background-color: lightseagreen;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.force-block {
  width: 100%;
  display: block;
  font-size: 40px;
  margin: 20px auto;
  color: whitesmoke;
}

caption {
  font-size: 30px;
  margin: 40px 0 60px 0;
  font-style: italic;
  color: black;
  font-family: 'Lobster', cursive;
}

table {
  margin: 20px 80px 40px 80px;
}

.center-image img {
  max-width: 100%;
  border-radius: 25px;
  margin: 20px;
}

img {
  border-radius: 20px;
}

.center-image {
  text-align: center;
  vertical-align: middle;
}

th, td {
  padding: 10px;
  background-color: orchid;
  border-radius: 30px;
  max-height: 20px;
  font-size: 30px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}

th {
  font-size: 32px;
  background-color: orange;
  color: whitesmoke;
}

#habitat {
  background-color: orange;
}

#olhos {
  background-color: orchid;
}

p {
  margin: 20px;
}

#soco {
  background-color: greenyellow;
}

aside {
  padding: 10px;
  margin: 10px;
}

footer {
  height: fit-content;
  padding: 10px;
  margin: 20px 60px;
  background-color: orchid;
  border-radius: 12px;
  color: whitesmoke;
  position: relative;
}

footer a {
  font-size: inherit;
  font-weight: 500;
  color: whitesmoke;
  border: 1px solid orange;
  padding: 0.2em;
  border-radius: 12px;
  background-color: lightseagreen;
  margin-left: 20px;
}
