* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: orangered;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

header .inline-block {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  position: relative;
  top: 80px;
  margin-bottom: 80px;
}

footer {
  height: 80px;
  width: 100%;
}
