.poke-div {
  border: 1px solid gray;
  border-radius: 12px;
  margin: 2%;
  display: flex;
  flex-flow: row nowrap;
  max-width: 50%;
  justify-content: space-around;
  align-items: center;
  padding-left: 5%;
}

.poke-img {
  width: 50%;
}