html {
  box-sizing: border-box;
  font-size: 22px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

header p {
  font-size: 1.5rem;
}
h1 {
  font-size: 1.5rem;
}

nav {
  display: none;
}

li {
  list-style: none;
}

.aside-one li {
  text-align: justify;
}

.aside-two li {
  text-align: left;
}

.main-content p {
  text-align: justify;
  margin: 0 5%;
}

footer {
  margin: 5%;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  body {
    background-color: lightcyan;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  nav {
    display: inherit;
    margin-right: 2%;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin: 0 3%;
    max-width: 30%;
    font-size: 0.8rem;
  }
}