html {
  font-size: 22px;
}

body {
  margin: 5%;
}

h1 {
  font-size: 1.5em;
}

h2 {

}

img {
  max-width: 100%;
}

figure {
  margin: 10% 0;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: grey;
    margin: 2%;
    text-align: center;
  }

  html {
    font-size: 18px;
  }

  figure {
    max-width: 45%;
    display: inline-block;
    margin: 1%;
  }

  h1 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    text-align: center;
    background-color: darkkhaki;
    margin: 4%;
    max-width: 1280px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

}