div:hover {
    border: 2px solid springgreen;
    border-radius: 12px;
}

#pa {
    background-color: black;
    color: aqua;
}

#sa {
    background-color: pink;
    color: brown;
}

#co {
    background-color: yellow;
    color: yellowgreen;
    height: 120px;
    padding-top: 55px; 
}

#es {
    background-color: blueviolet;
    color: red;
}

#cl {
    background-color: olivedrab;
    color: orange;
}

.impar {
    font-style: italic;
}